<div class="jumbotron text-center">
    <h1 class="display-4">Mean Authentication App</h1>
    <p class="lead">Welcome to a simple <b>MEAN Stack</b> authentication Based Application</p>
    <a [routerLink]="['/login']" class="btn btn-outline-primary">Login</a>
    <a [routerLink]="['/register']" class="btn btn-outline-success ml-2">Register</a>
</div>

<div class="row text-center">
    <div class="col-md-4">
        <h3>Express Backend</h3>
        <p>A solid Express JS backend to keep the application fast and easy to develop</p>
    </div>
    <div class="col-md-4">
        <h3>Angular CLI</h3>
        <p>Built with the foundation of Angular CLI providing seamless experience across all platforms</p>
    </div>
    <div class="col-md-4">
        <h3>JWT Tokens</h3>
        <p>Full featured Authentication service using JSON Web Token. Login and store data</p>
    </div>
</div>